.instructions-container {
    border-top: 0;
    height: 100%;

}

.instructions-container-inner {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eaaded;
    overflow: auto;
}