.instruction {
    margin-left: var(--resolution);
    margin-right: var(--resolution);
    margin-top: calc(var(--resolution) * 4);
    width: 100%;
    height: fit-content;

    user-select: none;

    background-color: #8ff8e2;
}