.memory-container {
    height: fit-content;
    min-height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memory-element {
    margin: 5%;
    width: 10%;
    height: 5%;
    text-align: center;
    border: 1px solid black;
}