.memory-container {
    height: fit-content;
    flex-shrink: 0;
    padding-bottom: calc(var(--resolution) * 10);
}

.memory-container-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.memory-element {
    margin: calc(var(--resolution));
    width: calc(var(--resolution) * 10);
    height: 0rem;
    background-color: white;
}