:root {
    --menu-inset: 0px;
}

.menu {
    min-width: 480px;
    top: var(--menu-inset);
    left: var(--menu-inset);
    height: calc(100% - var(--menu-inset));
    
    display: flex;
}

.menu-left {
    width:75%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    box-shadow: 0 0 10px #00000080;
    background-color: var(--panel);
    border-right: 6px solid var(--border);
}

.menu-right {
    width: 100%;
    z-index: 0;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.menu-right-padding {
    height: 50%;
    flex-shrink: 1;
}

.flyin {
    animation: flyin-anim 1s;
}

.flyout {
    animation: flyout-anim 1s;
}

@keyframes flyin-anim {
    from { left: -100% }
    to { left: var(--menu-inset) }
}

@keyframes flyout-anim {
    from { left: var(--menu-inset) }
    to { left: -100% }
}


