.tab {
    margin-left: calc(var(--resolution) * 5);
    margin-right: calc(var(--resolution) * 2);
    height: calc(var(--resolution) * 10);

    margin-top: calc(var(--resolution) * 5);
    user-select: none;

    background-color: #e83b3b;
}

