.tab-container {
    padding-bottom: calc(var(--resolution) * 2);;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}