:root{
    --resolution: 4px;
    --border-color: #30183a;
    --border-style: solid;
    --background-color: #75537c;
    --foreground-color: #000000;
    --shadow: #0000003f;
    --lighting: #ffffff2a;
    --glow: #8c00ff62;
    --glow-amount: 25px;
    --glow-spread: 5px;
    --glow-font-amount: 0.2rem;
    --scroll-track: #00e1ff;
    --scroll-thumb: #888888;
    --scroll-hover: #555;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.bit-container {
    background-color: var(--background-color);
    padding: 1rem;

    border: var(--border-color) var(--border-style) var(--resolution);
    box-shadow: 
    inset var(--resolution) 0 var(--lighting), /*left*/
    inset 0 var(--resolution) 0 var(--lighting), /*top*/
    inset calc(-1 * var(--resolution)) 0 var(--shadow), /*right*/
    inset 0 calc(-1 * var(--resolution)) var(--shadow), /*bottom*/
    var(--resolution) var(--resolution) var(--shadow); /*shadow*/
}

.bit-container > .bit-title {
    background-color: var(--background-color);
    position: absolute;
    display: table;
    padding: 0 2rem;
    margin: -2.4rem 0 0;
    
    box-shadow: 
    inset var(--resolution) 0 var(--lighting), /*left*/
    inset 0 var(--resolution) 0 var(--lighting), /*top*/
    inset calc(-1 * var(--resolution)) 0 var(--shadow), /*right*/
    calc(var(--resolution) * 1.5) calc(var(--resolution) * 0.5) 0px calc(-1 * var(--resolution) * 0.5) var(--shadow);
    border: var(--border-color) var(--border-style) var(--resolution);
    border-bottom: 0;
}

.bit-text {
    color: var(--foreground-color);
}

.bit-text-field {
    background-color: var(--background-color);
    border: var(--border-color) var(--border-style) var(--resolution);
    box-shadow: inset var(--resolution) var(--resolution) var(--shadow);
}

.bit-button {
    background-color: var(--background-color);
    padding: 1rem;

    border: var(--border-color) var(--border-style) var(--resolution);
    box-shadow: 
    inset var(--resolution) 0 var(--lighting), /*left*/
    inset 0 var(--resolution) 0 var(--lighting), /*top*/
    inset calc(-1 * var(--resolution)) 0 var(--shadow), /*right*/
    inset 0 calc(-1 * var(--resolution)) var(--shadow), /*bottom*/
    var(--resolution) var(--resolution) var(--shadow);
}

.bit-button:hover {
    font-size: 125%;
}

.bit-button:active {
    box-shadow: inset var(--resolution) 0 var(--shadow), /*left*/
    inset 0 var(--resolution) 0 var(--shadow); /*top*/
}

.no-pad {
    padding:0;
}

.no-pad > .bit-title {
    padding: 0 2rem;
    margin: -1.4rem 1rem 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glow-font {
    text-shadow: var(--glow) 0 0 var(--glow-font-amount);
}

.glow {
    box-shadow: 0px 0px var(--glow-amount) var(--glow-spread) var(--glow);
}

.bit-container.glow {
    box-shadow: inset var(--resolution) 0 var(--lighting), /*left*/
    inset 0 var(--resolution) 0 var(--lighting), /*top*/
    inset calc(-1 * var(--resolution)) 0 var(--shadow), /*right*/
    inset 0 calc(-1 * var(--resolution)) var(--shadow), /*bottom*/
    0px 0px var(--glow-amount) var(--glow-spread) var(--glow);
}

::-webkit-scrollbar {
    width: var(--resolution);
}

::-webkit-scrollbar-track { 
    background: var(--scroll-track); 
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}