:root{
    --pixel-size: 0.0045;
    --font-size-scale: 15;
    --font-hoven-ratio: 1.1;
    --border-color: #2e222f;
    --border-style: solid;
    --background-color: #905ea9;
    --foreground-color: #000000;
    --shadow: #0000003f;
    --lighting: #ffffff2a;
    --glow: #8fd3ff;
    --glow-amount: 25px;
    --glow-spread: 2px;
    --glow-font-amount: 0.2rem;
    --scroll-track: #8fd3ff;
    --scroll-thumb: #888888;
    --scroll-hover: #555;

    --resolution: calc(min(100vw, 100vh) * var(--pixel-size));
    --font-size: calc(var(--resolution) * var(--font-size-scale));
}

@font-face {
    font-family: 'PIXEL';
    src: url('PIXEL.ttf');
}

body {
    font-family: 'PIXEL', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--font-size);
}

.bit-container {
    background-color: var(--background-color);
    padding: calc(var(--resolution) * 4);

    box-shadow:
    var(--resolution) 0 var(--border-color),
    0 var(--resolution) 0 var(--border-color), 
    calc(-1 * var(--resolution)) 0 var(--border-color),
    0 calc(-1 * var(--resolution)) var(--border-color), 
    inset var(--resolution) 0 var(--lighting),
    inset 0 var(--resolution) 0 var(--lighting), 
    inset calc(-1 * var(--resolution)) 0 var(--shadow), 
    inset 0 calc(-1 * var(--resolution)) var(--shadow), 
    var(--resolution) var(--resolution) var(--shadow), 
    calc(var(--resolution) * 2) calc(var(--resolution)) var(--shadow), 
    calc(var(--resolution)) calc(var(--resolution) * 2) var(--shadow);
    
}

.bit-container > .bit-title {
    font-size: var(--font-size);
    background-color: var(--background-color);
    position: absolute;
    padding: 0 calc(var(--resolution) * 4);
    height: calc(var(--resolution) * 8);
    margin: calc(-11 * var(--resolution) + 1px) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 
    calc(2 * var(--resolution)) calc(-1 * var(--resolution)) 0 calc(-1 * var(--resolution)) var(--border-color),
    calc(-2 * var(--resolution)) calc(-1 * var(--resolution)) 0 calc(-1 * var(--resolution)) var(--border-color), 
    0 calc(-1 * var(--resolution)) var(--border-color), 
    inset calc(-1 * var(--resolution)) 0 var(--shadow), 
    inset var(--resolution) 0 var(--lighting), 
    inset 0 var(--resolution) 0 var(--lighting),
    calc(3.5 * var(--resolution)) calc(-0.5 * var(--resolution)) 0 calc(-1.5 * var(--resolution)) var(--shadow);
}

.bit-container.indent {
    border: var(--border-color) var(--border-style) var(--resolution);
    box-shadow: 
    var(--resolution) 0 var(--lighting), 
    0 var(--resolution) 0 var(--lighting),
    calc(-1 * var(--resolution)) 0 var(--shadow), 
    0 calc(-1 * var(--resolution)) var(--shadow), 
    inset var(--resolution) var(--resolution) var(--shadow), 
    inset var(--resolution) var(--resolution) var(--shadow);
} 

.bit-text {
    color: var(--foreground-color);
    text-shadow: var(--shadow) 0 var(--resolution)
}

.bit-button {
    background-color: var(--background-color);
    padding: calc(var(--resolution) * 4);

    box-shadow:
    var(--resolution) 0 var(--border-color),
    0 var(--resolution) 0 var(--border-color), 
    calc(-1 * var(--resolution)) 0 var(--border-color),
    0 calc(-1 * var(--resolution)) var(--border-color), 
    inset var(--resolution) 0 var(--lighting),
    inset 0 var(--resolution) 0 var(--lighting), 
    inset calc(-1 * var(--resolution)) 0 var(--shadow), 
    inset 0 calc(-1 * var(--resolution)) var(--shadow), 
    var(--resolution) var(--resolution) var(--shadow), 
    calc(var(--resolution) * 2) calc(var(--resolution)) var(--shadow), 
    calc(var(--resolution)) calc(var(--resolution) * 2) var(--shadow);
}

.bit-button:hover {
    font-size: calc(var(--font-size) * var(--font-hoven-ratio));
}

.bit-button:active {
    box-shadow:      
    var(--resolution) 0 var(--border-color),
    0 var(--resolution) 0 var(--border-color), 
    calc(-1 * var(--resolution)) 0 var(--border-color),
    0 calc(-1 * var(--resolution)) var(--border-color),
    inset var(--resolution) 0 var(--shadow),
    inset 0 var(--resolution) 0 var(--shadow);
}

.no-pad {
    padding:0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bit-container.glow > .bit-title{
    box-shadow: 
    calc(2 * var(--resolution)) calc(-1 * var(--resolution)) 0 calc(-1 * var(--resolution)) var(--border-color),
    calc(-2 * var(--resolution)) calc(-1 * var(--resolution)) 0 calc(-1 * var(--resolution)) var(--border-color), 
    0 calc(-1 * var(--resolution)) var(--border-color), 
    inset calc(-1 * var(--resolution)) 0 var(--shadow), 
    inset var(--resolution) 0 var(--lighting), 
    inset 0 var(--resolution) 0 var(--lighting);
}

.bit-container.indent.glow{
    border: var(--border-color) var(--border-style) var(--resolution);
    box-shadow: 
    var(--resolution) 0 var(--lighting), 
    0 var(--resolution) 0 var(--lighting),
    calc(-1 * var(--resolution)) 0 var(--shadow), 
    0 calc(-1 * var(--resolution)) var(--shadow), 
    inset 0 0 var(--glow-amount) var(--glow-spread) var(--glow);
}

.bit-container.glow {
    box-shadow: 
    var(--resolution) 0 var(--border-color),
    0 var(--resolution) 0 var(--border-color), 
    calc(-1 * var(--resolution)) 0 var(--border-color),
    0 calc(-1 * var(--resolution)) var(--border-color), 
    inset var(--resolution) 0 var(--lighting),
    inset 0 var(--resolution) 0 var(--lighting), 
    inset calc(-1 * var(--resolution)) 0 var(--shadow), 
    inset 0 calc(-1 * var(--resolution)) var(--shadow), 
    inset var(--resolution) 0 var(--lighting),
    inset 0 var(--resolution) 0 var(--lighting),
    inset calc(-1 * var(--resolution)) 0 var(--shadow),
    inset 0 calc(-1 * var(--resolution)) var(--shadow), 
    0 0 var(--glow-amount) var(--glow-spread) var(--glow);
}

::-webkit-scrollbar {
    width: var(--resolution);
}

::-webkit-scrollbar-track { 
    background: var(--scroll-track); 
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}